.denv-bg-teal {
    background-color: teal;
}

.denv-bg-lightcyan {
    background-color: lightcyan;
}

.denv-button {
    background-color: #00698f;
}

.denv-button:hover {
    background-color: #000000;
}
