#sidebar {
    h3 {
        margin-bottom: 0.5em;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    > ul {
        margin-left: -14px;
        > li {
            > a {
                font-size: 1.2em;
            }
        }
    }
    ul {
        list-style-type: none;

        ul {
            font-size: 1em;
            margin: 0;
            padding: 0;
            margin-left: 1em;
            border-left: 1px solid #ddd;
        }

        li {
            a {
                display: block;
                text-decoration: none;
                border-left: 2px solid transparent;
                padding: 5px 5px 5px 10px;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.active {
                > a {
                    border-left: 4px solid $primary-color;
                    
                }
            }
        }
    }
}

#toc-container > ul {
    margin: 0;
    
    ul {
        list-style-type: none;
        padding-left: 2em;
        margin: 0;

        ul {
            a:before {
                background: none;
            }
        }
    }
    li {
        border: none;

        a {
            padding: 0.75em;
            border-left: 2px solid transparent;
        }
        &.active {
            > a {
                border-left-color: $primary-color;
            }
        }
    }
}