{% include header.html %}

<main class="main" id="content" aria-label="Content">
    <section class="au-body">
        <div class="jumbotron">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {{ content }}
                    </div>
                    <div class="col-sm-6">
                        <img src="/assets/images/example-go.png" alt="Example of running a Golang application on cloud.gov.au">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <ul class="au-card-list au-card-list--matchheight">
                {% for feature in site.data.features %}
                <li class="col-sm-4 col-xs-12">
                    <div class="au-card au-card--shadow">
                        <div class="au-card__inner">
                            <h2 class="au-card__title">{{ feature.name | textuaize }}</h2>
                            {{ feature.desc | markdownify}}
                        </div>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</main>

{% include footer.html %}