<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">
{% include head.html %}
<body class="au-grid">
<nav class="au-skip-link">
    <a class="au-skip-link__link" href="#content">Skip to main content</a>
    <a class="au-skip-link__link" href="#mainmenu">Skip to main navigation</a>
</nav>

<header class="au-header au-header--dark" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="au-header__brand" href="{{ site.url }}/">
                    <img class="au-header__brand-image" alt="Australian Government Coat of Arms" src="/assets/images/australian-government-stacked-white.png">
                    <div class="au-header__text">
                        <h1 class="au-header__heading">{{ site.title }}</h1>
                        <div class="au-header__subline">{{ site.description | escape }}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% include main-navigation.html %}
</header>

<main class="main" id="content" aria-label="Content">
    <section class="au-body">
        <div class="container">
            <div class="row mt-2">
                <div class="col-md-9">
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                </div>
                <div class="col-md-3 mt-5" id="sidebar">
                    <aside class="au-side-nav au-accordion" aria-label="side navigation">
                        <button 
                            class="au-side-nav__toggle au-accordion__title au-accordion--closed" 
                            aria-controls="sidebar-nav"
                            aria-expanded="false"  
                            onclick="return AU.accordion.Toggle( this )"
                        >
                            In this section
                        </button>
                        <div id="sidebar-nav" class="au-side-nav__content au-accordion--closed au-accordion__body">
                            {% include toc.html class="au-link-list" html=content %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</main>

{% include footer.html %}
</body>
</html>
